body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('Domain_Spiral_Abyss_Abyssal_Moon_Spire_waifu2x_art_noise3_scale_tta_1_waifu2x_art_noise3_scale_tta_1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-size: 18px;
  margin-top: 50px;
}

.element {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playerAndComputer {
  display: inline-block;
}

.player, .computer {
  display: inline-block;
  text-align: center;
  margin: 2rem;
}

.static-container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.dom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.enemy {
  width: auto;
  height: 700px;
}

.hero {
  width: auto;
  height: 500px;
}
